.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


body {
    margin: 0;
    padding: 0;
    /* width: 1440px; */
    background-color: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    color: rgb(98, 98, 98);
}

p {
    color: rgb(146, 146, 146);
    font-size: 110%;
}

header {
    background-image: url("img/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
    padding-top: 150px;
}

.center-section {
    text-align: center;
    width: 50%;
    padding-left: 25%;
}

.center-section h1 {
    font-size: 250%;
}

.center-section h2 {
    font-size: 200%;
}


.btn {
    text-decoration: none;
    color: #fff;
    width: 30%;
    display: inline-block;
    height: 50px;
    border-radius: 25px;

    /* vertical center */
    margin: 33px 10px;
    line-height: 50px;
    text-align: center;
}

.btn-cyan:link,
.btn-cyan:visited {
    background-color: hsl(171, 66%, 44%);
}

.btn-cyan:active,
.btn-cyan:hover {
    background-color: hsl(171, 40%, 56%);
}


.btn-purple:link,
.btn-purple:visited {
    background-color: hsl(233, 100%, 69%)    ;
}

.btn-purple:active,
.btn-purple:hover {
    background-color: hsl(233, 97%, 76%)    ;
}


.section-2 {
    margin-top: 125px;
}

.section-3 {
    margin-top: 75px;
}

.section-3 img {
    display: inline-block;
    float: left;
    width: 52%;
    overflow: hidden;
    margin-left: -30px;
}

.section-3 ul {
    width: 25%;
    float: left;
    list-style-type: none;
    margin-left: 100px;
}

.section-3 li {
    margin-top: 50px;
}
    
.section-3 p {
    font-size: 90%;
    margin-top: -10px;

}

.section-4 {
    margin-top: 150px;
}

.section-4 p {
    font-size: 90%;
}

.section-5 {
    text-align: center;
    margin-top: 100px;
}

.section-6 {
    margin-top: 100px;
}

.section-7 {
    text-align: center;
    width: 80%;
    margin-left: 10%;

}

.section-7 {
    margin-top: 100px;
}

.section-8 {
    margin: 200px auto 0 auto;
    width: 80%;
    text-align: center;
}

.section-9 {
    margin: 200px 0;
}

footer {
    background-color: rgb(241, 241, 241);
    height: 150px;
    padding-top: 25px;
}

footer .logo{
    text-align: center;
}

footer .logo img {
    height: 60px;
}

.menu {
    text-align: left;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
}

footer a:link,
footer a:visited {
    color: rgb(117, 117, 117);
}

footer a:active,
footer a:hover {
    color: hsl(171, 66%, 44%);
}

.social {
    text-align: center;
    padding-top: 25px;
}

.social svg {
    margin-right: 20px;
}

svg:hover path{
    fill: hsl(171, 66%, 44%);
  }